<aside class="w-40 h-full hidden md:block">
    <div class="h-full px-3 py-4 overflow-y-auto rounded-lg bg-white">
       <ul class="space-y-1 font-medium">
          <li>
            <input type="file" (change)="onFileSelected($event)" hidden #fileInput />
             <a class="flex items-center p-2 text-black rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer" (click)="fileInput.click()">
                <svg-icon name="upload" class="upload-icon mb-0.5"></svg-icon>
                <span class="ms-3">Add Files</span>
             </a>
          </li>
          <li>
            <a class="flex items-center p-2 text-black rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer" [ngClass]="(menu==='myDrive')?'bg-primary text-white drive-icon-side-bar-selected':''" (click)="selectOption('myDrive')">
               <svg-icon class="drive-icon-side-bar" name="drive"></svg-icon>
                <span class="ms-3">My Drive</span>
            </a>
         </li >
          <li>
            <a class="flex items-center p-2 text-black rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer" [ngClass]="(menu==='recycleBin')?'bg-primary text-white trash-icon-selected':''" (click)="selectOption('recycleBin')">
                <svg-icon name="trash" class="trash-icon"></svg-icon>
               <span class="ms-3">Recycle bin</span>
            </a>
         </li>
         <li>
            <a href="https://github.com/VenkataSatyakoppula/filestorage-angular" target="_blank" class="flex items-center p-2 text-black rounded-lg hover:bg-primary hover:text-white hover:cursor-pointer">
               <svg-icon name="github" class="github-icon"> </svg-icon>
               <span class="ms-2">Github</span>
            </a>
         </li>

          </ul>
       </div>
</aside>
