<main class="flex h-full w-full">
   <app-side-bar></app-side-bar>

   @if (currentData$  | async; as files) {

   @let zeroFiles = files.length <= 0;
   {{updateCheckBoxChecked(files.length)}}
   <section class="flex-1 flex">

      <div class="flex flex-col mt-6 flex-1">
         <div class="md:hidden mb-3">
            @if(userData$ | async; as user){
               <h3>Used : <span class="text-primary font-bold">{{getRemPercentage(user.remainingSize,user.totalSize)}}</span></h3>
               <div class="w-full bg-gray-200 rounded-full h-2.5">
                  <div class="bg-primary h-2.5 rounded-full" [style]="'width:'+getRemPercentage(user.remainingSize,user.totalSize)"></div>
               </div>
               <span class="text-xs"> <span class="text-primary font-bold">{{covertToSize(user.remainingSize,user.totalSize)}}  </span>  / {{getShortForm(user.totalSize)}}</span>
            }
            <span class="text-[10px] mx-1">*Including recycle bin</span>
          </div>
             <div class="files-path flex justify-between mx-2">
               <div class="flex">
                  <span class="flex items-center"><svg-icon src="images/drive.svg" class="drive-icon"></svg-icon> <span class="mx-1">Drive</span> / <span class="mx-1"> root</span></span>
                  @if(selectedCount()>0){
                     <div class="flex bg-gray-200 rounded-lg items-center w-fit px-1 ms-2">
                        <svg-icon src="images/close.svg" class="drive-icon cursor-pointer" (click)="unselectAll()"></svg-icon>
                        <p class="ms-2">{{selectedCount()}} <span class="max-md:hidden"> Selected </span> </p>
                        <svg-icon src="images/download.svg" data-tooltip-target="tooltip-default" data-tooltip-trigger="hover" class="util-icon ms-3 cursor-pointer hover:bg-primary hover:rounded-2xl"></svg-icon>
                        <div id="tooltip-default" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white transition-opacity duration-300 bg-primary rounded-lg shadow-xs opacity-0 tooltip">
                           Download file
                           <div class="tooltip-arrow" data-popper-arrow></div>
                       </div>
                        <svg-icon src="images/delete.svg" data-tooltip-target="tooltip-delete" class="util-icon ms-3 cursor-pointer hover:bg-primary hover:rounded-2xl" (click)="deleteFiles()"></svg-icon>
                        <div id="tooltip-delete" role="tooltip" class="absolute z-10 invisible inline-block px-2 py-1 text-sm font-medium text-white transition-opacity duration-300 bg-primary rounded-lg shadow-xs opacity-0 tooltip">
                           Delete file
                           <div class="tooltip-arrow" data-popper-arrow></div>
                       </div>
                     </div>
                  }


                  
               </div>
               
               <span id="dropdownDefaultButton">
                  <button  (click)="dropdown = !dropdown" data-dropdown-toggle="dropdown" class="text-black cursor-pointer  focus:ring-2 outline-1 outline-black font-medium rounded-md text-sm  px-2 py-1 text-center inline-flex items-center" type="button"> 
                     @if (gridView) {
                        <svg-icon src="images/grid.svg" class="dropdown-icon-size"></svg-icon> <p class="font-bold ms-1">Grid</p>
                     } @else {
                        <svg-icon src="images/list.svg" class="dropdown-icon-size"></svg-icon> <p class="font-bold ms-1">List</p>
                     }
                       

                     <svg class="w-2.5 h-2.5 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                     </svg>
                  </button>
                     <div id="dropdown" [ngClass]="dropdown? 'block':'hidden'" class="absolute bg-primary rounded-md shadow-sm z-20 mt-1">
                        <ul class="text-sm text-white" aria-labelledby="dropdownDefaultButton">
                          <li class="hover:bg-black hover:rounded-t-md p-1 cursor-pointer">
                            <a (click)="gridView = true" class="flex px-2 py-2"><svg-icon src="images/grid.svg" class="dropdown-icon-size dropdown-icon-white"></svg-icon> <p class="me-2  ms-1">Grid</p></a>
                          </li>
                          <li class="hover:bg-black hover:rounded-b-md p-1 cursor-pointer">
                            <a (click)="gridView = false" class="flex px-2 py-2"><svg-icon src="images/list.svg" class="dropdown-icon-size dropdown-icon-white"></svg-icon> <p class="me-2  ms-1">List</p></a>
                          </li>
                        </ul>
                    </div>
               </span>
             </div>

            @if(gridView){
               <div class="grid h-[calc(100vh-192px)] auto-rows-min" [ngClass]="zeroFiles ? [`bg-[center_50px]`,`bg-[length:300px_300px]`,'bg-no-repeat', `bg-[url('assets/images/empty-drive.svg')]`,'justify-center'] :  ['lg:grid-cols-10','grid-cols-6', 'max-sm:grid-cols-4', 'mt-4']">
                  @for (item of files; track $index) {
                     <div class="hover:bg-gray-100 cursor-pointer m-1 rounded-md" [ngClass]="checkBoxChecked[$index].flag?'bg-gray-200':''" (click)="checkBox($index.toString(),item.fileId)">
                        <input id="default-checkbox" type="checkbox" [checked]="checkBoxChecked[$index].flag"  class="w-4 h-4 accent-primary bg-gray-100 border-gray-300 rounded-sm m-1">
                        <img [src]="'images/'+getFileIcon(item.fileType)" class="m-auto">
                        <p class="whitespace-normal break-words line-clamp-2 text-xs m-auto w-17 text-center">
                           {{item.fileName}}
                        </p>
                     </div>
                  }
                  @if (zeroFiles) {
                     <span class="block text-center text-2xl font-bold mt-3">{{(this.sideBarOption === "myDrive")?'Upload files!':'Empty recycle bin!'}}</span>
                  }
               </div> 
            }

            @else {

               <div class="h-[calc(100vh-230px)] w-full overflow-y-auto" [ngClass]="zeroFiles ? [`bg-[center_50px]`,`bg-[length:300px_300px]`,'bg-no-repeat', `bg-[url('assets/images/empty-drive.svg')]`,'justify-center'] : ''">
                  <table class="mt-3 w-full">
                     @if (!zeroFiles) {
                     <thead>
                       <tr>
                        <th class="text-start">File Name</th>
                        <th class="text-start max-md:hidden">Date Created</th>
                        <th class="text-start pl-2 max-md:hidden">File Type</th>
                        <th class="text-end">Size</th>
                       </tr>
                     </thead>
                     }

                     <tbody>
                        @for (item of files ; track $index) {
                           <tr class="hover:bg-gray-100 cursor-pointer rounded-lg"  [ngClass]="checkBoxChecked[$index].flag?'bg-gray-200':''" (click)="checkBox($index.toString(),item.fileId)">
                              <td>
                                <div class="flex justify-start items-center">
                                   <input id="default-checkbox" type="checkbox" [checked]="checkBoxChecked[$index].flag"  class="w-4 h-4 accent-primary bg-gray-100 border-gray-300 rounded-sm">
                                   <img [src]="'images/'+getFileIcon(item.fileType)" height="30" width="30">
                                   <p class="text-sm ms-2 truncate-text">
                                      {{item.fileName}}
                                   </p>
                                </div>
                              </td>
                              <td class="text-start max-md:hidden ">{{item.createdAt | date: "MM/dd/yyyy hh:mm a"}}</td>
                              <td class="max-md:hidden pl-2 text-sm">{{item.fileType.split("/")[1]}}</td>
                              <td class="pl-2 text-end">{{ getShortForm(item.fileSize)}}</td>
                           </tr>
                        }
                     </tbody>
                   </table>
  
                  @if (zeroFiles) {
                     <span class="text-2xl font-bold flex justify-center"> {{(this.sideBarOption === "myDrive")?'Upload files!':'Empty recycle bin!'}}  </span>
                  }
               </div> 
            }

      </div>
   </section>
   }

   @if (showProgressBar$ | async; as progress) {
      <div class="z-10 absolute md:end-10 bottom-10 not-md:start-[50%] not-md:translate-x-[-50%]  w-2xs ps-4 pe-4 pb-2 pt-2 bg-gray-50 rounded-lg">
            <div class="progress-bar-close my-2">
               <span class="text-sm font-light text-black flex"> <svg-icon name="upload" class="upload-icon-progress me-2"></svg-icon> <span> Uploading...</span></span>
               <svg-icon src="images/close.svg" class="drive-icon cursor-pointer"></svg-icon>
            </div>
            
            <div class="flex justify-between mb-1">
            <span class="text-md font-bold text-black ">{{progress.name}}</span>
            <span class="text-sm font-bold text-black">{{progress.percent}}%</span>
            </div>
            <div class="w-full bg-gray-200 rounded-full h-2.5">
            <div class="bg-primary h-2.5 rounded-full" [style]="'width:'+progress.percent+'%'"></div>
            </div>
      </div>
   }

</main>
<app-speed-dail></app-speed-dail>


